<div class="message">
    <% @messages.each do |message| %>
        <div class="py-4">
            <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                <div class="d-flex align-items-center me-3">
                    <div class="ps-3">
                    <h6 class="fw-semibold mb-0">message.user.username</h6>
                    <span class="fs-sm text-muted">4 mins ago</span>
                    </div>
                </div>
                <a href="#" class="nav-link fs-sm px-0">
                <i class="bx bx-share fs-lg me-2"></i>
            </a>
            </div>
            <p class="mb-0"><%= message.content %></p>
        </div>
    <% end %>
</div>
