<!-- Footer -->
<footer class="footer border-top pt-5 pb-4 pb-lg-5">
  <div class="container text-center pt-2 pt-md-4 pt-lg-5 pb-xl-3">
    <div class="row justify-content-center pt-xxl-2">
        <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11">
        <p class="text-muted mb-0">&copy; All rights reserved. Self Search </p>
    </div>
  </div>
  <html >
</footer>