<section class="container py-5 mt-5 mt-md-4 mb-md-3 mb-lg-4 mb-xl-5 white-background">
  <div class="privacy flex flex-col items-center">
    <div class="p-8 md:w-4/5">
      <h1 class="text-2xl my-16 md:text-center font-bold">利用規約</h1>
      <p>この利用規約（以下、「本規約」といいます。）は、本ウェブアプリの管理者（以下、「管理者」といいます。）が本ウェブアプリ上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第1条（適用）</h3>
      <ol class='list-decimal px-8'>
      <li>本規約は、ユーザーと管理者との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
      <li>管理者は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。</li>
      <li>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第2条（利用登録）</h3>
      <ol class='list-decimal px-8'>
      <li>本サービスにおいては、登録希望者が本規約に同意の上、当方の定める方法によって利用登録を申請し、管理者がこれを承認することによって、利用登録が完了するものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第3条（ユーザー情報の管理）</h3>
      <ol class='list-decimal px-8'>
      <li>ユーザーは、自己の責任において、本サービスのアカウント情報(メールアドレスおよびパスワード)をを適切に管理するものとします。</li>
      <li>ユーザーは、いかなる場合にも、アカウント情報(メールアドレスおよびパスワード)を第三者に譲渡または貸与し、もしくは第三者と共用することはできません。管理者は、メールアドレスおよびパスワードの組み合わせが登録情報と一致してログインされた場合には、そのアカウントを登録しているユーザー自身による利用とみなします。</li>
      <li>アカウント情報(メールアドレスおよびパスワード)が第三者によって使用されたことによって生じた損害は、管理者に故意又は重大な過失がある場合を除き、管理者は一切の責任を負わないものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第4条（禁止事項）</h3>
      <ol class='list-decimal px-8'>
      <li>法令または公序良俗に違反する行為</li>
      <li>犯罪行為に関連する行為</li>
      <li>本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為</li>
      <li>管理者、他のユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
      <li>本サービスによって得られた情報を商業的に利用する行為</li>
      <li>本サービスの運営を妨害するおそれのある行為</li>
      <li>不正アクセスをし、またはこれを試みる行為</li>
      <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
      <li>不正な目的を持って本サービスを利用する行為</li>
      <li>本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為</li>
      <li>他のユーザーに成りすます行為</li>
      <li>管理者が許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</li>
      <li>管理者のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
      <li>その他、管理者が不適切と判断する行為</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第5条（本サービスの提供の停止等）</h3>
      <ol class='list-decimal px-8'>
      <li>管理者は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
      <ol class='list-decimal px-8'>
        <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
        <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
        <li>コンピュータまたは通信回線等が事故により停止した場合</li>
        <li>その他、管理者が本サービスの提供が困難と判断した場合</li>
      </ol>
      <li>管理者は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第6条（退会）</h3>
      <ol class='list-decimal px-8'>
      <li>ユーザーは、当方の定める退会手続により、本サービスから退会できるものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第7条（保証の否認および免責事項）</h3>
      <ol class='list-decimal px-8'>
      <li>管理者は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
      <li>管理者は、本サービスに起因してユーザーに生じたあらゆる損害について、管理者の故意又は重過失による場合を除き、一切の責任を負いません。</li>
      <li>管理者は、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第8条（サービス内容の変更等）</h3>
      <ol class='list-decimal px-8'>
      <li>管理者は、ユーザーへの事前の告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第9条（利用規約の変更）</h3>
      <ol class='list-decimal px-8'>
      <li>管理者は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</li>
      <ol class='list-decimal px-8'>
        <li>本規約の変更がユーザーの一般の利益に適合するとき。</li>
        <li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</li>
      </ol>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第10条（個人情報の取扱い）</h3>
      <ol class='list-decimal px-8'>
      <li>管理者は、本サービスの利用によって取得する個人情報については、本サービス「プライバシーポリシー」に従い適切に取り扱うものとします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第11条（権利義務の譲渡の禁止）</h3>
      <ol class='list-decimal px-8'>
      <li>ユーザーは、管理者の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h3 class='font-bold py-4'>第12条（準拠法・裁判管轄）</h3>
      <ol class='list-decimal px-8'>
      <li>本規約の解釈にあたっては、日本法を準拠法とします。</li>
      <li>本サービスに関して紛争が生じた場合には、管理者の所在地を管轄する裁判所を専属的合意管轄とします。</li>
      </ol>
    </div>
    <div class="p-8 md:w-4/5">
      <h2 class="text-end">以上</h2>
      <h2 class="my-4 text-end">2023年7月18日制定</h2>
    </div>
  </div>
</section>