<section class="container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5">
  <div class="text-center pt-5 pb-3 mt-auto">

  <div class="container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5">
    <%= image_tag 'enviroment/404.png', class: 'img-fluid' %>
  </div>

    <h1 class="visually-hidden">404</h1>
    <h2 class="display-5">申し訳ありません!</h2>
    <p class="fs-xl pb-3 pb-md-0 mb-md-5">エラーが発生しました。時間をおいてお試しください</p>
    <%= link_to 'トップページ', root_path, class: 'btn btn-primary animate-up-2' %>
  </div>
</section>