<% @users.each do |user| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= user.id %>" data-autocomplete-label="<%= user.username %>">
    <%= user.username %>
  </li>
<% end %>